[submodule "ext/onigmo"]
	path = ext/onigmo
	url = https://github.com/k-takata/Onigmo.git
[submodule "ext/hashmap"]
	path = ext/hashmap
	url = https://github.com/DavidLeeds/hashmap.git
[submodule "ext/bdwgc"]
	path = ext/bdwgc
	url = https://github.com/ivmai/bdwgc.git
[submodule "ext/gdtoa"]
	path = ext/gdtoa
	url = https://github.com/jwiegley/gdtoa.git
[submodule "ext/PEGParser"]
	path = ext/PEGParser
	url = https://github.com/TheLartians/PEGParser.git
[submodule "ext/EasyIterator"]
	path = ext/EasyIterator
	url = https://github.com/TheLartians/EasyIterator.git
