[submodule "ext/onigmo"]
	path = ext/onigmo
	url = https://github.com/k-takata/Onigmo.git
[submodule "ext/tm"]
	path = ext/tm
	url = https://github.com/seven1m/tm
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib
[submodule "ext/prism"]
	path = ext/prism
	url = https://github.com/ruby/prism
