name: Test

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_FLAGS: ""
  CI: 1

jobs:
  linux:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        compiler:
          - gcc
          - clang
        group:
          - group1
          - group2
          - group3
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ruby/setup-ruby@v1
      - name: run tests
        env:
          NAT_BUILD_MODE: debug
        run: ruby -v
  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        group:
          - group1
          - group2
          - group3
          - group4
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ruby/setup-ruby@v1
      - run: ruby -v
